<div class="modal fade" id="id<?php echo $details['idBook'] ?>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Détails</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img src="../userContent/images/<?php echo $details['booCoverLink'] ?>" alt="" width=100% height=300>
            <p class="card-text"> Titre : <?php echo $details['booTitle'] ?></p>
            <p class="card-text"> Auteur : <?php echo $findAutName($database->readTable('t_author'), $details['idAuthor']) ?></p>
            <p class="card-text"> Année : <?php echo $details['booYearEdited'] ?></p>
            <p class="card-text"> Nombre de pages : <?php echo $details['booNbrPages'] ?></p>
            <p class="card-text"> Résumé : <?php echo $details['booSummary'] ?></p>
            <p class="card-text"> Appréciation :
                <span class="fa fa-child checked" onclick=""></span>
                <span class="fa fa-child checked"></span>
                <span class="fa fa-child checked"></span>
                <span class="fa fa-child"></span></button>
                <span class="fa fa-child"></span></button>
            <form action="" method="POST">
                <input type="submit" class="button" value="Envoyer">
            </form>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>